// Base
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 15px;
$base-line-height: 21px;

// Colors
$color-base: #fff;
$color-text: #222;

// MQ
$mq-breakpoints: (
    mobile: 320px,
    tablet: 740px,
    desktop: 980px
);
